/ Button trigger modal
%button.btn.btn-primary@{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
  新規作成
/ Modal
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :tabindex => "-1"}
  .modal-dialog.modal-dialog-centered
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title 新規取引
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = form_with(model: @post) do |f|
        .modal-body
          .form-group
            = f.label :month, "日付"
            = f.date_field :month, class:"form-control"
          .form-group
            = f.label :method, "決済方法"
            = f.collection_select :payment_id, Payment.all, :id, :name, {prompt: "選択してください"}, {class:"form-control"}
          .form-group
            = f.label :payee, "支払先"
            = f.select :payee, ["食費", "交際費", "衣類", "通信費", "買い物", "住宅"], {}, class:"form-control"
          .form-group
            = f.label :amount, "金額"
            = f.text_field :amount, class:"form-control"
          .form-group
            = f.label :note, "メモ"
            = f.text_field :note, class:"form-control"
          .modal-footer
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} 閉じる
            = f.submit "投稿する", class:"btn btn-primary"