-# .chart
-#   .flex_item
-#     = pie_chart @current_month_sum,library: {title: {text: "今月<br> #{number_to_currency(Post.current_month.sum(:amount), unit: "円", strip_insignificant_zeros: true)}"}}
-#   .flex_item
-#     = pie_chart @last_month_sum,library: {title: {text: "先月<br> #{number_to_currency(Post.last_month.sum(:amount), unit: "円", strip_insignificant_zeros: true)}"}}
-#   .flex_item
-#     = pie_chart @current_year_sum,library: {title: {text: "今年<br> #{number_to_currency(Post.current_year.sum(:amount), unit: "円", strip_insignificant_zeros: true)}"}}
-#   .flex_item
-#     = pie_chart @last_year_sum,library: {title: {text: "去年<br> #{number_to_currency(Post.last_year.sum(:amount), unit: "円", strip_insignificant_zeros: true)}"}}                           
%h3.text-muted.text-center.mb-3 取引履歴
%table.table.table-hover
  %thead
    %th 月
    %th 決済方法
    %th 支払先
    %th 金額
    %thead
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.month
        %td= post.method
        %td= post.payee
        %td= number_to_currency(post.amount, unit: "円", strip_insignificant_zeros: true)
= paginate @posts