<h1>家計簿</h1> 
<%= render 'form' %>
<%# <%= form_tag import_posts_path, multipart: true do %>
  <%# <%= file_field_tag :file %>
  <%# <%= submit_tag "インポート" %>
<%# <% end %>
<div class="posts">
  <%= render "posts", posts: @posts %>
</div>