<h1>家計簿</h1>  
<%= render 'form' %>
<%= form_tag import_posts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>
<table class="table table-bordered">
  <thead>
    <th>id</th>
    <th>月</th>
    <th>決済方法</th>
    <th>支払先</th>
    <th>金額</th>
    <th>メモ</th>
  <thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.id %></td>
        <td><%= post.month %></td>
        <td><%= post.method %></td>
        <td><%= post.payee %></td>
        <td><%= converting_to_jpy(post.amount) %></td>
        <td><%= post.note %></td>
      </tr>
    <% end %>
  </tbody>  
</table>